# Git ignore, rlafarguette@imf.org

# Ignore some folders
__pycache__/
.ipynb_checkpoints/
latex/auto/

# Ignore some extensions
*.aux
*.log
*.nav
*.out
*.snm
*.toc

# Ignore some files
latex/slides
data/Mexico Bloomberg_10142020.xslx




