# Git ignore, rlafarguette@imf.org

# Ignore some folders
__pycache__/
.ipynb_checkpoints/
latex/auto/
imfwp/

# Ignore some extensions
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.docx

# Ignore some files
latex/slides
data/MXN_raw_data.xslx




